*{
    font-family: "Lucida Grande", "Tahoma", sans-serif;
    font-size: 1em;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    max-width: 650px;
    padding: 1% 2%;
}

header{
    margin-bottom: 1%;
}

header > h1{
    color:red;
    font-family: Futura LT;
    font-style: italic;
    font-weight: bolder;
    font-size: 3em;
    display:inline-block;
    padding-left: 2%;
}

header > p{
    display:inline-block;
    padding-left: 2%;
    font-size: 1.2em;
    font-style: italic;
}


/* FIELDSET */

form{
    padding: 2%;
}

fieldset{
    display: inline-block;
    border: 0;
    width: 49%;
    vertical-align: top;
    background-color: azure;
}

@media (max-width: 650px) {
    fieldset{
        width: 100%;
    }
}

fieldset h3{
    font-size: 1.2em;
}

fieldset label{
    display:block;
    margin: 2% 0;
}

fieldset input[type="text"], button, select:not(#credit_card_year):not(#credit_card_month){
    height: 20px;
    width: 100%;
}



/* BUTTONS */

#buttonpane{
    width: 50%;
    display: inline-block;
    padding-left: 2%;
}

@media (max-width: 650px) {
    #buttonpane{
        width: 100%;
    }
}


#buttonpane button{
    background-color: red;
    border:none;
    color: white;
    cursor: pointer;
    display: inline-block;
}

#buttonpane #cancel{
    width: 30%;
}

#buttonpane #save{
    width: 68%;
}

#status{
    margin: 1% 0;
}




