:root{
    --akzent: rgb(255,55,55);
}

*{
    font-family: "Lucida Grande", "Tahoma", sans-serif;
    font-size: 1em;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-weight: normal;
    outline: none;
}

.bold, h3{
    font-weight: bold;
}





/* BASIC LAYOUT */
body{
    max-width: 900px;
    margin: auto;
    padding: 2%;
}

body > *{
    margin-bottom: 2%;
}





/* HEADER */
header > * {
    display: inline-block;
}

header > img{
    height: 3.7em;
}


header > div{
    padding-left: 1%;
}

header > div > p{
    font-size: 1.1em;
}







/* FIELDSET */
form{
    width: 100%;
}

fieldset{
    border: 0;
    vertical-align: top;
    display: inline-block;

}

.fieldset-row{
    background-color: rgb(247,247,247);
    width: 100%;
    margin-bottom: 2%;
}

.fieldset-column{
    width: 49%;
    padding: 2%;
}


fieldset h3{
    font-family: Helvetica;
    font-size: 1.5em;
    margin-bottom: 3%;
}

fieldset label{
    display: block;
    margin: 1% 0;
}

input[type="text"], input[type="email"], input[type="number"], input[type="tel"], select{
    border: 1px solid lightgrey;
    display: block;
    width: 100%;
    height: 20px;
}

input:invalid, select:invalid{
    border: 1px solid var(--akzent);
    box-shadow: 0 0 1px var(--akzent);
}

#credit_card_year, #credit_card_month{
    display: inline-block;
    width: 25%;
}






/* BUTTONPANE */
#buttonpane{
    width: 49%;
    float: right;
}

#buttonpane input[type=button]{
    background-color: var(--akzent);
    border:none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
}

#buttonpane #cancel{
    height: 20px;
    width: 30%;
}

#buttonpane #save{
    height: 20px;
    width: 68%;
    float: right;
}

#message{
    height: 1em;
}



@media (max-width: 550px) {
    .fieldset-column{
        width: 100%;
    }

    .fieldset-row{
        margin: 2% 0;
    }

    #buttonpane{
        width: 100%;
        margin-top: 2%;
    }
}



