/* BASIC STYLES AND SIZING */

:root{
    --akzent: rgb(255,55,55);
}

*{
    font-family: "Lucida Grande", "Tahoma", sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline: none;
    font-weight: normal;
}

p, label, input[type=button]{
    font-size: 1em;
}

label{
    vertical-align: middle;
    user-select: none;
}

input[type=button], .slider, .hoverbutton, .button{
    cursor: pointer;
}

input[type=checkbox]{
    display: none;
}

.button{
    border: 1px solid var(--akzent);
    color: var(--akzent);
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}

.infoicon{
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(200,200,200);
    color: grey;
    font-size: .9em;
    width: 1.3em;
    margin: auto;
    border-radius: 50%;
    cursor: help;
}

.infoicon.uwaga{
    color: var(--akzent);
    border-color: var(--akzent);
    font-weight: bolder;
}







/* BASIC WINDOW SIZING */

body{
    width: 390px;
    margin: 10px;
}





/* HEADER */

header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 1%;
}

header > img{
    width: 45%;
    display: inline-block;
}

#infobar{
    width: 45%;
    text-align: end;
}

#time{
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    color: black;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
}

#clickbar{
    width: 100%;
    text-align: end;
}






/* CHECKBUTTON */

.checkbutton{
    display: inline-block;
    height: 20px;
    line-height: 18px;
    vertical-align: top;
    background-color: white;
    color: grey;
    border: 1px solid grey;
    padding: 1px;
    opacity: .4;
}

.checkbutton:hover{
    opacity: 1;
}

.checkbutton-box:checked + .checkbutton {
    background-color: var(--akzent);
    color: white;
    border: 1px solid transparent;
    opacity: 1;
}






/* TABLE */

table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-bottom: 0;
    margin-bottom: 2.5%;
}

table > thead > tr{
    height: 20px;
}

table > thead > tr > th{
    font-weight: bold;
    padding: .5% 0
}

table > thead > tr > th:nth-of-type(2){
    width: 18%;
}

table > thead > tr >th:nth-of-type(4){
    width: 20%;
}


table > tbody{
    background-color: rgb(247, 247, 247);
}

table > tbody > tr:not(:first-of-type){
    border-top: 1px solid rgb(247, 247, 247);
}

table > tbody > tr:hover{
    background-color: rgb(240, 240, 240);
}

tr > *:not(:last-of-type){
    border-right: 1px solid transparent;
}

tr > *:nth-of-type(4){
    border-right: 1px solid transparent;
}

tr > td:not(:last-of-type){
    padding: .5% 1%;
}

table .rmbutton{
    height: 18px;
    width: 34px;
}

table .rmbutton:hover{
    background-color: var(--akzent);
    color: white;
}

table #addbutton{
    height: 22px;
    width: 34px;
    background-color: var(--akzent);
    color: white;
    border: none;
}

table input[type=text], table select{
    width: 100%;
    height: 22px;
}






/* LAST ROW */
#lastrow{
    display: flex;
    justify-content: space-between;
}


/* LAST ROW -> SETTING PANE */
#settingpane{
    width: 75%;
    display: inline-block;
    background-color: rgb(247, 247, 247);
    padding: 1% 0 1% 1%;
}

/* LAST ROW -> SETTING PANE -> Switch Button */
.checkbox{
    display: inline-block;
    min-width: 35%;
}

.checkbox.inline{
    margin-bottom: 1%;
}



.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 14px;
    vertical-align: text-bottom;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dcdcdc;
    transition: .4s;
    box-sizing: content-box;
    border: 1px solid lightgrey;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
}

input[type=checkbox]:checked + .slider {
    background-color: var(--akzent);
    border-color: var(--akzent);
}

input[type=checkbox]:checked + .slider:before {
    transform: translateX(14px);
}




/* LAST ROW -> BUTTON PANE */
#buttonpane{
    width: 23%;
    display: flex;
    //justify-content: space-between;
    flex-flow: column;
    justify-content: flex-end;
}

#buttonpane > *{
    height: 45%;
    width: 100%;
    display: block;
}





/* LAST ROW -> BUTTON PANE -> STARTPANE */
#startpane{
    display: flex;
}

#startbutton{
    border: 1px solid  var(--akzent);
    color: white;;
    font-weight: bolder;
    background-color: var(--akzent);
    width: 100%;
}


