/* BASIC STYLES AND SIZING */

:root{
    --akzent: rgb(255,55,55);
}

*{
    font-family: "Lucida Grande", "Tahoma", sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline: none;
    font-weight: normal;
}

p, label, input[type=button]{
    font-size: 1em;
}

label{
    vertical-align: middle;
}

input[type=button], .slider, .hoverbutton, .button{
    cursor: pointer;
}

.info{
    cursor: help;
}
.button{
    border: 1px solid var(--akzent);;
    color: var(--akzent);;
    padding: 3px;
    background-color: white;
    display: inline-block;
    height: 24px;

}

.hoverbutton {
    border: 1px solid grey;
    color: grey;
    padding: 3px;
    background-color: white;
    display: inline-block;
    height: 24px;
    opacity: .2;
}

.hoverbutton:hover{
    /* bypassed bug: opactiy has sideeffect on border */
    opacity: 1;
}

.hoverbuttonbox{
    display: none;
}

.hoverbuttonbox:checked + .hoverbutton{
    background-color: var(--akzent);
    color: white;
    border: 1px solid transparent;
    opacity: 1;
}







/* BASIC WINDOW SIZING */

body{
    width: 390px;
    margin: 10px;
}

body>*{
    margin-bottom: 3%;
}

body>*:last-child{
    margin-bottom: 0;
}







/* HEADER */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}

header > img{
    height: 3em;
    display: inline-block;
    margin: .5% 0;
}

#infobar{
    display: inline-block;
    float: right;
}

#infobar > *{
    display: inline-block;
    vertical-align: middle;
}

#tableinfo{
    text-align: center;
    background-color: white;
    border: 1px solid rgb(200,200,200);
    color: grey;
    font-size: .9em;
    width: 1.4em;
    margin: auto;
    border-radius: 10px;
}






/* TABLE */

table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-bottom: 0;
}

table > thead{
    background-color: rgb(230, 230, 230);
    display: none;
}

table > thead > tr{
    height: 20px;
}

table > thead > tr > th{
    font-weight: bold;
    padding: .5% 0
}

table > tbody{
    background-color: rgb(247, 247, 247);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

table > tbody > tr{
    border-top: 1px solid white;
}

table > tbody > tr:hover{
    background-color: rgb(240, 240, 240);
}

table > tbody > tr > td:not(:nth-of-type(5)){
    border-right: 1px solid white;
}

table > tbody > tr > td:nth-of-type(4), tfoot > tr > td{
    border-right: 1px solid transparent;
}

table > tfoot{
    border-top: 2px solid white;
}



/* Table basics */

table th:not(:last-of-type), tbody td:not(:last-of-type){
    padding: .5% 1%;
}

table > thead th:nth-of-type(2){
     width: 18%;
 }

table > thead th:nth-of-type(4){
    width: 20%;
}

table .rmbutton{
    height: 18px;
    width: 34px;
    background-color: white;
    color: var(--akzent);
    border: 1px solid var(--akzent);
}

table .rmbutton:hover{
    background-color: var(--akzent);
    color: white;
}

table #addbutton{
    height: 21px;
    width: 34px;
    background-color: var(--akzent);
    color: white;
    border: none;
}

table input[type=text], table select{
    width: 100%;
    height: 22px;
}






/* LAST ROW */

#lastrow{
    display: flex;
    justify-content: space-between;
}

#lastrow #settingpane{
    display: inline-block;
    width: 75%;
    padding-left: .5%;
}

/* BUTTON PANE*/

#lastrow #buttonpane{
    width: 23%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    //align-items: flex-end;
    position: relative;

}

#lastrow #buttonpane > *{
    height: 48%;
    width: 100%;
    display: block;
}

#lastrow #buttonpane #startbutton{
    color: white;
    font-weight: bolder;
    background-color: var(--akzent);
    border: 0;
}

#lastrow #buttonpane #startbutton:hover{

}

#lastrow #buttonpane #time{
    padding: 0;
}





/* Switch Button */
.checkbox{
    display: inline-block;
    //background-color: rgb(245, 245, 245);
    //padding: 1% 1.5%;
}

.checkbox.inline{
    width: 30%;
}

.checkbox:first-of-type{
     margin-bottom: 1%;
 }

/* Slider Container */
.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 14px;
    vertical-align: text-bottom;
}


/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The Box */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dcdcdc;
    transition: .4s;
    box-sizing: content-box;
    border: 1px solid lightgrey;
}

/* The Checker */
.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
}

input[type=checkbox]:checked + .slider {
    background-color: var(--akzent);
    border-color: var(--akzent);
}

input[type=checkbox]:checked + .slider:before {
    transform: translateX(14px);
}



